* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  body {
    padding: 20px;
    background-color: #F1F4F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  
    .view-1,
    .view-2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 60px;
      margin-bottom: 20px;
  
      .card {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: fit-content;
        width: 270px;
  
        .profile-image {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
  
          img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
  
        .details {
          display: flex;
          flex-direction: column;
          gap: 5px;
  
          #Profession {
            opacity: 0.9;
          }
  
          #Title {
            color: #58AAFE;
          }
        }
  
        .skills {
          display: flex;
          flex-direction: row;
          gap: 10px;
          text-align: center;
          justify-content: center;
          padding: 15px 0;
  
          span {
            background-color: #e0e0e0;
            color: #333;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 0.8em;
  
            &.more-skills {
              background-color: #58AAFE;
              color: white;
            }
          }
        }
  
        .about-person {
          padding: 15px;
          line-height: 1.5;
  
          p {
            font-size: 12px;
            font-weight: 400;
            opacity: 0.5;
          }
        }
  
        .hire {
          display: flex;
          flex-direction: column;
  
          button {
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: #111;
            cursor: pointer;
  
            &:hover {
              background-color: #58AAFE;
              color: #fff;
            }
          }
        }
      }
    }
  }